<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ChatRoulette</title>
	<link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<style type="text/css">
		.messages {
			height: 200px;
			color: black;
			padding: 10px;
		}
	</style>
</head>
<body ng-controller="ctrlChat" class="card bgc-blue-grey-900">

	<div flex-container="row">
		<div flex-item>
			<lx-text-field label="Usuario" theme="dark" fixed-label="true" icon="account">
				<input type="text" ng-model="user.name">
			</lx-text-field>
		</div>
	</div>
	<div class="tc-white-1" flex-container="row">
		<div flex-item="4" flex-item-order="1">
			<span class="fs-tittle display-block mdi mdi-facebook-messenger"></span><b>Mensajes</b>
			<div class="messages p+ bgc-blue-grey-200">
				<div ng-repeat="message in messages">
					{{ message.from}} : {{ message.body}}
				</div>
			</div>
		</div>
	</div>
	<div flex-container="row">
		<div flex-item>
			<lx-text-field label="Mensaje" theme="dark" fixed-label="true" icon="message-draw">
				<input type="text" ng-model="user.message">
			</lx-text-field>
		</div>
		<div flex-item>
			<button class="btn btn--s btn--blue btn--raised" lx-ripple ng-click="sendMessage()">Enviar</button>
		</div>
	</div>
	

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/velocity/velocity.js"></script>
	<script src="bower_components/moment/min/moment-with-locales.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/lumx/dist/lumx.js"></script>
	<script type="text/javascript" src="chat.js"></script>
</body>
</html>